Global Cache Contact Closures with TCP.txt
[{"id":"73330676.1793f8","type":"tcp request","z":"b3dea232.6f99e8","server":"192.168.1.40","port":"4998","out":"time","splitc":"0","name":"","x":431.5,"y":69,"wires":[["3ec17b4e.8ae644"]]},{"id":"a8438b40.297298","type":"inject","z":"b3dea232.6f99e8","name":"","topic":"1","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":97.5,"y":68,"wires":[["69a4d946.8e2cf8"]]},{"id":"2bb7a96f.4fb4c6","type":"inject","z":"b3dea232.6f99e8","name":"","topic":"1","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":96,"y":111,"wires":[["69a4d946.8e2cf8"]]},{"id":"69a4d946.8e2cf8","type":"function","z":"b3dea232.6f99e8","name":"setstate","func":"msg.payload = \"setstate,1:\" + msg.topic + \",\" + msg.payload + \"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":240.5,"y":69,"wires":[["73330676.1793f8"]]},{"id":"c49ce308.846b6","type":"debug","z":"b3dea232.6f99e8","name":"","active":true,"console":"false","complete":"false","x":643.5,"y":71,"wires":[]},{"id":"3ec17b4e.8ae644","type":"function","z":"b3dea232.6f99e8","name":"toString","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":554.5,"y":122,"wires":[["c49ce308.846b6"]]},{"id":"50d73636.2ecf48","type":"function","z":"b3dea232.6f99e8","name":"getstate","func":"msg.payload = \"getstate,1:\" + msg.payload + \"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":233,"y":181,"wires":[["73330676.1793f8"]]},{"id":"709b2fb8.0b971","type":"inject","z":"b3dea232.6f99e8","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":95.5,"y":181,"wires":[["50d73636.2ecf48"]]},{"id":"c1f14a1d.a7b6d8","type":"inject","z":"b3dea232.6f99e8","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":94,"y":220,"wires":[["50d73636.2ecf48"]]},{"id":"ea155dba.d5c2f","type":"inject","z":"b3dea232.6f99e8","name":"","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":93,"y":262,"wires":[["50d73636.2ecf48"]]}]