Global Cache GCHMX3 HDMI Switcher.txt
[{"id":"4727080d.5b5a38","type":"subflow","name":"GC HDMI Switcher","info":"Input:\nSet the topic and payload to control a function.\n\nTopic: selectInput\nPayload: The input to select: 1, 2 or 3.\n\nTopic: disableInput\nPayload: The input to disable: 1, 2 or 3.\n\nTopic: getState\nPayload: The input state to poll: 1, 2 or 3.\n\nTopic: getActive\nPayload: Send anything to poll the state of all inputs.\n\nTopic: startPolling\nPayload: Send anything to start polling.\n\nTopic: stopPolling\nPayload: Send anything to stop polling.\n\nOutputs:\nOutput 1 reports the selected input.\n\nOutput 2 reports if a video device is connected to the HDMI output.\n\nOutputs 3, 4 & 5 reports if a video device is connected to HDMI input 1, 2 or 3.\n","in":[{"x":52,"y":101,"wires":[{"id":"512415a2.4d358c"}]}],"out":[{"x":715,"y":619,"wires":[{"id":"482cda28.66b2d4","port":0}]},{"x":611,"y":728,"wires":[{"id":"ce31380.662f1c8","port":0}]},{"x":615,"y":775,"wires":[{"id":"ce31380.662f1c8","port":1}]},{"x":618,"y":822,"wires":[{"id":"ce31380.662f1c8","port":2}]},{"x":619,"y":867,"wires":[{"id":"ce31380.662f1c8","port":3}]}]},{"id":"517830db.bc362","type":"tcp request","z":"4727080d.5b5a38","server":"192.168.1.33","port":"4998","out":"sit","splitc":" ","name":"","x":560,"y":100,"wires":[["e57d0443.397ad8"]]},{"id":"c2ac00da.14208","type":"function","z":"4727080d.5b5a38","name":"Select Input","func":"msg.payload = \"setstate,1:\" + msg.payload + \",1\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":279.5,"y":102,"wires":[["517830db.bc362"]]},{"id":"b61a2f6a.200c8","type":"function","z":"4727080d.5b5a38","name":"Disable Input","func":"msg.payload = \"setstate,1:\" + msg.payload + \",0\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":141,"wires":[["517830db.bc362"]]},{"id":"705dba26.2b00e4","type":"function","z":"4727080d.5b5a38","name":"Get State","func":"msg.payload = \"getstate,1:\" + msg.payload + \"\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["517830db.bc362"]]},{"id":"d9da68eb.3dbc68","type":"function","z":"4727080d.5b5a38","name":"Get Active","func":"msg.payload = \"getactive,1\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["517830db.bc362"]]},{"id":"5783d588.22a42c","type":"trigger","z":"4727080d.5b5a38","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"-100","extend":false,"units":"ms","reset":"stop","name":"","x":300,"y":440,"wires":[["43bc2139.ad50d"]]},{"id":"43bc2139.ad50d","type":"function","z":"4727080d.5b5a38","name":"Polling","func":"const maxCount = 4;\nvar index = context.get('index') || 0;\n\nif(index < maxCount){\n    index += 1;\n}else{\n    index = 1;\n}\ncontext.set('index', index);\n\nswitch(index){\n    case 1:\n        msg.payload = \"1\";\n        return[msg, null]\n        break;\n    case 2:\n        msg.payload = \"2\";\n        return[msg, null]\n        break;\n    case 3:\n        msg.payload = \"3\";\n        return[msg, null]\n        break;\n    case 4:\n        return[null, msg]\n        break;\n    default:\n        break;\n}","outputs":"2","noerr":0,"x":290,"y":360,"wires":[["705dba26.2b00e4"],["d9da68eb.3dbc68"]]},{"id":"b45d706e.e6122","type":"comment","z":"4727080d.5b5a38","name":"Send Commands","info":"","x":93.5,"y":50,"wires":[]},{"id":"18addac8.f1dcc5","type":"comment","z":"4727080d.5b5a38","name":"Parse Feedback","info":"","x":95,"y":561,"wires":[]},{"id":"ea01c60d.111a98","type":"switch","z":"4727080d.5b5a38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"state","vt":"str"},{"t":"cont","v":"active","vt":"str"}],"checkall":"true","outputs":2,"x":145.5,"y":627,"wires":[["df01f654.be0828"],["4d1c3f3.36caec"]]},{"id":"e57d0443.397ad8","type":"link out","z":"4727080d.5b5a38","name":"","links":["25ce9fe4.398fd"],"x":710.5,"y":102,"wires":[]},{"id":"25ce9fe4.398fd","type":"link in","z":"4727080d.5b5a38","name":"","links":["e57d0443.397ad8"],"x":58.5,"y":627,"wires":[["ea01c60d.111a98"]]},{"id":"df01f654.be0828","type":"split","z":"4727080d.5b5a38","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":324.5,"y":620,"wires":[["482cda28.66b2d4"]]},{"id":"482cda28.66b2d4","type":"function","z":"4727080d.5b5a38","name":"Parse for active input","func":"var payload = msg.payload.toString();\n\nif(payload.includes(\":\")){\n    context.set(\"port\", msg.payload);\n}else if (payload != \"state\"){\n    var port = context.get(\"port\");\n    payload = payload.toString().replace(\"\\r\", \"\");\n    if(payload === \"1\"){\n        switch(port.toString()){\n            case \"1:1\":\n                msg.payload = \"1\";\n                break;\n            case \"1:2\":\n                msg.payload = \"2\";\n                break;\n            case \"1:3\":\n                msg.payload = \"3\";\n                break;\n            default:\n                break;\n        }\n    return msg;\n    }\n}","outputs":1,"noerr":0,"x":530.5,"y":619,"wires":[[]]},{"id":"4d1c3f3.36caec","type":"function","z":"4727080d.5b5a38","name":"Make sure feedback message is complete","func":"if(msg.payload.toString().includes(\"endactive\")){\n    msg.payload = context.get(\"activeInputFeedbackMessage\") + msg.payload;\n    context.set(\"activeInputFeedbackMessage\", \"\")\n    return msg;\n}else{\n    var oldMessage = context.get(\"activeInputFeedbackMessage\");\n    context.set(\"activeInputFeedbackMessage\", oldMessage + msg.payload);\n}","outputs":1,"noerr":0,"x":347.5,"y":696,"wires":[["c5f7d07c.99cbc"]]},{"id":"c5f7d07c.99cbc","type":"split","z":"4727080d.5b5a38","name":"","splt":"\\r","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":143,"y":780,"wires":[["ce31380.662f1c8"]]},{"id":"ce31380.662f1c8","type":"function","z":"4727080d.5b5a38","name":"Parse for input states","func":"var parsingForInputOrOutput = context.get(\"parsingForInputOrOutput\") || \"\";\nvar payload = msg.payload.toString();\n\nif(payload.includes(\"IN\")){\n    context.set(\"parsingForInputOrOutput\", \"IN\");\n    \n}else if(payload.includes(\"OUT\")){\n    context.set(\"parsingForInputOrOutput\", \"OUT\");\n    \n}else if(!payload.includes(\"active\")){\n    switch(parsingForInputOrOutput){\n        case \"IN\":\n            return parseForInput(payload);\n        case \"OUT\":\n            return parseForOutput(payload);\n        default:\n            break;\n    }\n}\n\nfunction parseForInput(inputMessage){\n    var inputNumber = inputMessage.slice(0, 1);\n    node.warn(inputNumber);\n    var value = inputMessage.replace(inputNumber + \",\", \"\");\n    if(value.includes(\"false\")){\n        msg.payload = \"Inactive\";\n    }else if(value.includes(\"true\")){\n        msg.payload = \"Active\";\n    }\n    switch(inputNumber){\n        case \"1\":\n            return[null, msg, null, null];\n        case \"2\":\n            return[null, null, msg, null];\n        case \"3\":\n            return[null, null, null, msg];\n        default:\n            break;\n    }\n}\n\nfunction parseForOutput(outputMessage){\n    var outputNumber = outputMessage.slice(0, 1);\n    node.warn(outputNumber);\n    var value = outputMessage.replace(outputNumber + \",\", \"\");\n    if(value.includes(\"false\")){\n        msg.payload = \"Inactive\";\n    }else if(value.includes(\"true\")){\n        msg.payload = \"Active\";\n    }\n    switch(outputNumber){\n        case \"1\":\n            return[msg, null, null, null];\n        default:\n            break;\n    }\n}","outputs":"4","noerr":0,"x":385.5,"y":779,"wires":[[],[],[],[]]},{"id":"512415a2.4d358c","type":"switch","z":"4727080d.5b5a38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"selectInput","vt":"str"},{"t":"eq","v":"disableInput","vt":"str"},{"t":"eq","v":"getState","vt":"str"},{"t":"eq","v":"getActive","vt":"str"},{"t":"eq","v":"startPolling","vt":"str"},{"t":"eq","v":"stopPolling","vt":"str"}],"checkall":"true","outputs":6,"x":97,"y":174,"wires":[["c2ac00da.14208"],["b61a2f6a.200c8"],["705dba26.2b00e4"],["d9da68eb.3dbc68"],["5783d588.22a42c"],["3a8c958a.72c24a"]]},{"id":"3a8c958a.72c24a","type":"function","z":"4727080d.5b5a38","name":"Stop Polling","func":"msg.payload = \"stop\";\nreturn msg;","outputs":1,"noerr":0,"x":111.5,"y":334,"wires":[["5783d588.22a42c"]]},{"id":"1fd6c3b5.89be9c","type":"subflow:4727080d.5b5a38","z":"b3dea232.6f99e8","name":"","x":391.5,"y":105,"wires":[["aa150f69.27377"],["815e8fe.cfa627"],["3cb61e01.263e72"],["644393c8.7da13c"],["38103c94.240534"]]},{"id":"23637f18.91053","type":"ui_dropdown","z":"b3dea232.6f99e8","name":"","label":"Select Input","place":"Select option","group":"a9a9d2c7.08e258","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":" Input 1","value":"1","type":"str"},{"label":"Input 2","value":"2","type":"str"},{"label":"Input 3","value":"3","type":"str"}],"payload":"","topic":"selectInput","x":148.5,"y":58,"wires":[["1fd6c3b5.89be9c"]]},{"id":"bab6e9bf.c69778","type":"inject","z":"b3dea232.6f99e8","name":"","topic":"startPolling","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":159.5,"y":105,"wires":[["1fd6c3b5.89be9c"]]},{"id":"ed39882d.83d808","type":"inject","z":"b3dea232.6f99e8","name":"","topic":"stopPolling","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":156.5,"y":148,"wires":[["1fd6c3b5.89be9c"]]},{"id":"aa150f69.27377","type":"ui_text","z":"b3dea232.6f99e8","group":"a9a9d2c7.08e258","order":0,"width":0,"height":0,"name":"","label":"Active Input: ","format":"{{msg.payload}}","layout":"row-right","x":647.5,"y":65,"wires":[]},{"id":"815e8fe.cfa627","type":"ui_text","z":"b3dea232.6f99e8","group":"a9a9d2c7.08e258","order":0,"width":0,"height":0,"name":"","label":"Output 1 Status: ","format":"{{msg.payload}}","layout":"row-right","x":658,"y":103,"wires":[]},{"id":"3cb61e01.263e72","type":"ui_text","z":"b3dea232.6f99e8","group":"a9a9d2c7.08e258","order":0,"width":0,"height":0,"name":"","label":"Input 1 Status: ","format":"{{msg.payload}}","layout":"row-right","x":656,"y":145,"wires":[]},{"id":"644393c8.7da13c","type":"ui_text","z":"b3dea232.6f99e8","group":"a9a9d2c7.08e258","order":0,"width":0,"height":0,"name":"","label":"Input 2 Status: ","format":"{{msg.payload}}","layout":"row-right","x":654,"y":183,"wires":[]},{"id":"38103c94.240534","type":"ui_text","z":"b3dea232.6f99e8","group":"a9a9d2c7.08e258","order":0,"width":0,"height":0,"name":"","label":"Input 3 Status: ","format":"{{msg.payload}}","layout":"row-right","x":655,"y":224,"wires":[]},{"id":"a9a9d2c7.08e258","type":"ui_group","name":"Group 1","tab":"f1e67604.13b308","order":1,"disp":true,"width":6},{"id":"f1e67604.13b308","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]