Parse Global Cache IRDB File and Send TCP IR Commands.txt
[{"id":"9243bf3.8608a4","type":"inject","z":"b3dea232.6f99e8","name":"","topic":"","payload":"CURSOR DOWN","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":300,"wires":[["9f6f9f1.c9adb6"]]},{"id":"d46ad810.811928","type":"inject","z":"b3dea232.6f99e8","name":"","topic":"","payload":"CURSOR UP","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":260,"wires":[["9f6f9f1.c9adb6"]]},{"id":"a745183f.e24888","type":"tcp request","z":"b3dea232.6f99e8","server":"192.168.1.25","port":"4998","out":"time","splitc":"0","name":"","x":620,"y":260,"wires":[[]]},{"id":"9f6f9f1.c9adb6","type":"function","z":"b3dea232.6f99e8","name":"","func":"var irCodes = flow.get('appletv');\nvar key = msg.payload;\nmsg.payload = irCodes[key] + \"\\r\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["43ccac25.546374"]]},{"id":"a0624e5b.f6653","type":"file in","z":"b3dea232.6f99e8","name":"","filename":"/home/pi/irDrivers/AppleTV.txt","format":"utf8","chunk":false,"sendError":false,"x":290,"y":140,"wires":[["d401e5a6.447c98"]]},{"id":"394611de.9247be","type":"inject","z":"b3dea232.6f99e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":80,"wires":[["a0624e5b.f6653"]]},{"id":"d401e5a6.447c98","type":"csv","z":"b3dea232.6f99e8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":450,"y":80,"wires":[["5357f17e.f9b75"]]},{"id":"5357f17e.f9b75","type":"function","z":"b3dea232.6f99e8","name":"","func":"var irCodes = flow.get('appletv') || {};\nirCodes[msg.payload.function] = msg.payload.code1;\nflow.set('appletv', irCodes);\n","outputs":1,"noerr":0,"x":510,"y":140,"wires":[[]]},{"id":"43ccac25.546374","type":"change","z":"b3dea232.6f99e8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"sendir,1:1","fromt":"str","to":"sendir,1:2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":320,"wires":[["a745183f.e24888"]]},{"id":"28f5379e.bc60f8","type":"comment","z":"b3dea232.6f99e8","name":"Store Data From File","info":"","x":130,"y":40,"wires":[]},{"id":"485bcb17.853e14","type":"comment","z":"b3dea232.6f99e8","name":"Create IR Commands for Port 2","info":"","x":170,"y":220,"wires":[]}]