Wienzierl KNX IP BAOS 777.txt
[{"id":"8ef4976a.69057","type":"websocket in","z":"b3dea232.6f99e8","name":"Websocket Feedback","server":"","client":"8c2a9db5.8764e","x":600,"y":520,"wires":[["bc6ef77d.13e08"]]},{"id":"bc6ef77d.13e08","type":"function","z":"b3dea232.6f99e8","name":"","func":"node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":520,"wires":[[]]},{"id":"5c972a18.16cbcc","type":"http request","z":"b3dea232.6f99e8","name":"Login","method":"POST","ret":"txt","url":"http://192.168.2.100/rest/login","tls":"","x":550,"y":280,"wires":[["51a748da.66567"]]},{"id":"5a1eefe9.e5e618","type":"inject","z":"b3dea232.6f99e8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["8b53aa8a.d00e9"]]},{"id":"ff15d16c.fc041","type":"http request","z":"b3dea232.6f99e8","name":"Get Datapoints","method":"GET","ret":"obj","url":"http://192.168.2.100/rest/datapoints/values","tls":"","x":580,"y":340,"wires":[["760541ea.f65b58"]]},{"id":"760541ea.f65b58","type":"function","z":"b3dea232.6f99e8","name":"","func":"node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":340,"wires":[[]]},{"id":"8b53aa8a.d00e9","type":"function","z":"b3dea232.6f99e8","name":"Create Headers","func":"var token = flow.get('token');\nif(token){\n    msg.headers = {};\n    msg.headers['Authorization'] = 'Token token=' + token;\n    return msg;\n}else{\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["ff15d16c.fc041"]]},{"id":"9a120b6d.3f3a7","type":"inject","z":"b3dea232.6f99e8","name":"Username & Password","topic":"","payload":"{     \"password\": \"admin\",     \"username\": \"admin\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":280,"wires":[["5c972a18.16cbcc"]]},{"id":"51a748da.66567","type":"function","z":"b3dea232.6f99e8","name":"Store Token","func":"node.warn('BAOS token = ' + msg.payload);\nflow.set('token', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":280,"wires":[[]]},{"id":"dc88e97e.b9263","type":"function","z":"b3dea232.6f99e8","name":"","func":"node.warn(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":440,"wires":[[]]},{"id":"53ced16d.4cfee","type":"http request","z":"b3dea232.6f99e8","name":"Set Datapoint Value","method":"PUT","ret":"txt","url":"http://192.168.2.100/rest/datapoints/values","tls":"","x":590,"y":440,"wires":[["dc88e97e.b9263"]]},{"id":"38f40006.e6ce88","type":"function","z":"b3dea232.6f99e8","name":"Create Headers & Body","func":"msg.payload = {\n    'datapoints_values': [{\n        'id': msg.topic, \n        'value': msg.payload\n    }], \n    'command': 3\n};\nmsg.payload = JSON.stringify(msg.payload);\n\nvar token = flow.get('token');\nif(token){\n    msg.headers = {};\n    msg.headers['Authorization'] = 'Token token=' + token;\n    return msg;\n}else{\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["53ced16d.4cfee"]]},{"id":"bf865a65.785c2","type":"inject","z":"b3dea232.6f99e8","name":"","topic":"1","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":420,"wires":[["38f40006.e6ce88"]]},{"id":"c1ea1814.bf112","type":"inject","z":"b3dea232.6f99e8","name":"","topic":"1","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":460,"wires":[["38f40006.e6ce88"]]},{"id":"d39dd3d6.5f8bd","type":"comment","z":"b3dea232.6f99e8","name":"KNX via BAOS 777","info":"","x":110,"y":240,"wires":[]},{"id":"1a70eb0d.61ed8d","type":"comment","z":"b3dea232.6f99e8","name":"Websocket does not reconnect after deploying...","info":"","x":680,"y":480,"wires":[]},{"id":"8c2a9db5.8764e","type":"websocket-client","z":"","path":"ws://192.168.2.100:80/websocket?token=YourTokenGoesHere","tls":"","wholemsg":"true"}]